<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Covid-19 Kerala Police Declaration Generator</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Unica+One'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html ng-app="myApp">
<head>
	<title>Contract Generator</title>
</script>

</head>
<body>


<div class="row">
  <div class="small-2 large-3 columns" id="sidebar">
    <h1 class="title">Fields</h1>
  <input type="text" ng-model="Name" placeholder='Name'/>
  <input type="text" ng-model="Mobile_no" placeholder='Mobile Number'/>
  <input type="text" ng-model="Address" placeholder='Address'/>
  <input type="text" ng-model="Vechicle_no" placeholder='Vechicle Number'/>
  <input type="text" ng-model="Vechicle_Type" placeholder='Vechicle Type'/>
  <input type="text" ng-model="Person_2" placeholder='Going With'/>
  <input type="text" ng-model="Starting_place" placeholder='Starting Place'/>
  <input type="text" ng-model="End_Place" placeholder='Ending Place'/>
  <input type="text" ng-model="Purpose" placeholder='Purpose'/>
  <input type="text" ng-model="Return" placeholder='Return'/>
  <input type="text" ng-model="Date" placeholder='Date'/>
  <input type="text" ng-model="Place" placeholder='Place'/>
    </div>
  <div class="small-4 large-7 columns letter" id="document">
   <center><img src="logo.png" width="150" height="150"></center>
    <div class="text">
     <div class="people people1">
       Between</br>
     <strong>Name:</strong> {{Name}}</br>
    <strong>Adress:</strong> {{Address}}</br>
    <strong>Vechicle Number:</strong> {{Vechicle_no}}</br>
    <strong>Mobile Number:</strong> {{Mobile_no}}</br>
    <strong>Mail:</strong> {{Email1}}</br>
     </div></br></br></br></br>

    <h2 class="maintitle">Kerala Police Declaration</h2>

 <p><u>I {{ Name }}</u> {{Address}} Travaling in Vechicle Number {{Vechicle_no}} {{Vechicle_Type}} I am going with {{Person_2}} estas purus viverra accumsan in. Risus pretium quam vulputate dignissim. Mauris a diam maecenas sed enim ut sem viverra. Commodo quis imperdiet massa tincidunt.</p>


 <div class="people people2">
    <strong>Place:</strong> {{Place}}</br>
    <strong>Date:</strong> {{Date}}</br>
    </div>

  </div>
  </div>
  </div>
</body>
</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script><script  src="./script.js"></script>

</body>
</html>
