<!DOCTYPE html>
<html lang="en" >
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="favicon.png" sizes="32x32" type="image/png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Covid-19 Kerala Police Declaration Generator</title>
  <meta name="description" content="സ്വകാര്യ വാഹനങ്ങളില്‍ യാത്രചെയ്യുന്നവര്‍ക്ക് ആവിശ്യമായ കേരള പോലിസിന്‍റെ സത്യവാങ്മൂലം ഓണ്‍ലൈന്‍ പകര്‍പ്പ്‌" />

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Covid-19 Kerala Police Declaration Generator">
  <meta itemprop="description" content="സ്വകാര്യ വാഹനങ്ങളില്‍ യാത്രചെയ്യുന്നവര്‍ക്ക് ആവിശ്യമായ കേരള പോലിസിന്‍റെ സത്യവാങ്മൂലം ഓണ്‍ലൈന്‍ പകര്‍പ്പ്">
  <meta itemprop="image" content="https://www.swale.in/kp.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@keralapolice">
  <meta name="twitter:title" content="Covid-19 Kerala Police Declaration Generator">
  <meta name="twitter:description" content="സ്വകാര്യ വാഹനങ്ങളില്‍ യാത്രചെയ്യുന്നവര്‍ക്ക് ആവിശ്യമായ കേരള പോലിസിന്‍റെ സത്യവാങ്മൂലം ഓണ്‍ലൈന്‍ പകര്‍പ്പ്">
  <meta name="twitter:creator" content="@keralapolice">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="https://www.swale.in/kp.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="Covid-19 Kerala Police Declaration Generator" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.swale.in/" />
  <meta property="og:image" content="https://www.swale.in/kp.jpg" />
  <meta property="og:description" content="സ്വകാര്യ വാഹനങ്ങളില്‍ യാത്രചെയ്യുന്നവര്‍ക്ക് ആവിശ്യമായ കേരള പോലിസിന്‍റെ സത്യവാങ്മൂലം ഓണ്‍ലൈന്‍ പകര്‍പ്പ്" />
  <meta property="og:site_name" content="Covid-19 Kerala Police Declaration Generator" />
  <meta property="fb:admins" content="1810689264" />
  <meta property="fb:app_id" content="1627222830940236" />

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Manjari'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html ng-app="myApp">
<head>
	<title>Covid-19 Kerala Police Declaration</title>
</script>

</head>
<body>

<div class="container-fluid">
<div class="row">
  <div class="col-sm-3 hidden-print" id="sidebar">
  <h2 class="title">പൂരിപ്പിക്കുക</h2>
  <input type="text" ng-model="Name" placeholder='പേര്'/>
  <input type="text" ng-model="Mobile_no" placeholder='മൊബൈല്‍ നമ്പര്‍'/>
  <input type="text" ng-model="Address" placeholder='വിലാസം'/>
  <input type="text" ng-model="Vechicle_no" placeholder='വാഹനത്തിന്‍റെ നമ്പര്‍'/>
  <select name="model" ng-model="Vechicle_Type" placeholder='വാഹനത്തിന്‍റെ മോഡല്‍'/>
  <option value="">ഏതു തരം വാഹനം</option>
  <option value="കാറില്‍">കാറില്‍</option>
  <option value="സ്കൂട്ടറില്‍">സ്കൂട്ടറില്‍‍</option>
  <option value="സൈക്കിളില്‍">സൈക്കിളില്‍</option>
  <option value="എസ്.യു.വിയില്‍">എസ്.യു.വിയില്‍</option>
  <option value="മോട്ടോര്‍സൈക്കിളില്‍">മോട്ടോര്‍സൈക്കിളില്‍</option>
  <input type="text" ng-model="Person_2" placeholder='ഒപ്പമുള്ള ആളുടെ പേര്'/>
  <input type="text" ng-model="Starting_place" placeholder='യാത്ര തുടങ്ങുന്ന സ്ഥലം'/>
  <input type="text" ng-model="End_Place" placeholder='യാത്ര അവസാനിക്കുന്ന സ്ഥലം'/>
  <input type="text" ng-model="Purpose" placeholder='യാത്രയുടെ ആവിശ്യം'/>
  <label>തിരിച്ചു വരുന്ന തിയ്യതി</label>
  <div id="datepicker1" class="input-group date" data-date-format="dd-mm-yyyy">
      <input class="form-control" type="text" ng-model="Return_Date" readonly />
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
  </div>
  <input type="text" ng-model="Place" placeholder='സ്ഥലം'/>
  <button class="btn btn-primary hidden-print" onclick="myFunction()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
  </div>



  <div class="col-sm-7 " id="document">
   <center><img src="logo.png" width="150" height="150"></center>
    <div class="text">
    <div class="data">
    <strong>പേര്:</strong> {{Name}}</br>
    <strong>മൊബൈല്‍ നമ്പര്‍:</strong> {{Mobile_no}}</br>
    <strong>വിലാസം:</strong> {{Address}}</br>
    <strong>വാഹനത്തിന്‍റെ നമ്പര്‍:</strong> {{Vechicle_no}}</br>
    <strong>യാത്ര തുടങ്ങുന്ന സ്ഥലം:</strong> {{Starting_place}}</br>
    <strong>യാത്ര അവസാനിക്കുന്ന സ്ഥലം:</strong> {{End_Place}}</br>
    </div></br></br></br></br>
    <h2 class="maintitle">സത്യവാങ്മൂലം</h2>
 <p>
ഞാന്‍ {{Name}}, {{Vechicle_no}} എന്ന നമ്പറുള്ള {{Vechicle_Type}} കൂടെ
{{Person_2}}‍ കൂടി {{Starting_place}}‍ നിന്നും {{End_Place}} ലേക്ക്‌ യാത്ര ചെയ്യുവാന്‍‍ അനുവാദം തരണമെന്ന്
വിനീതമായി അപേക്ഷിക്കുന്നു. {{Return_Date}}‍ നു‍ തിരച്ചു വരും.
</br>
<strong>യാത്രയുടെ ആവശ്യം:</strong> {{Purpose}}</br>
</p>

 <div class="footer">
    <strong>സ്ഥലം:</strong> {{Place}}</br>
    <strong>തിയതി:</strong> {{Date}}</br>
    <strong>സമയം:</strong> {{Time}}</br>
    </div>

  </div>
  </div>
  </div>
  </div>

  <footer class="container-fluid hidden-print">
  <p>Made with 💘 by <a href="https://www.kloudboy.com">KloudBoy</a></p>
</footer>
</body>
</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script><script  src="./script.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js'></script><script  src="./clscript.js"></script>


</body>
</html>
